<div id="container-products" class="container mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6 w-full">
    <!-- Productos se renderizan dinámicamente desde products.js -->
</div>
<script type="module" src="./js/products.js"></script>
